.gourlbox {
	padding-top: 10px;
	font-weight: normal;
	text-align: center;
}

.gourlbox h1 {
	padding: 30px;
	margin: 0;
	font-weight: normal;
	text-align: center;
}

.gourlbox h3 {
	padding: 5px;
	margin: 0;
	line-height: 140%;
	font-weight: normal;
	text-align: center;
}

.gourlbox .gourlprice {
	margin: 7px;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
}

.gourlbox .gourlprice h3 {
	text-align: center;
}

.gourlfiledescription, .gourldownloadlink
{
	font-weight: normal;
	text-align: center;
}

#gourlcryptocoins {
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	height: auto;
	line-height: 19px;
	width: auto;
	text-align: center;
}

#gourlcryptocoins a {
	text-decoration: none;
	border: 0 solid #fff;
}

#gourlcryptocoins img {
	display: inline;
}

.gourlbox .gourlimg {
	margin: 30px 0 20px 0;
	border-radius:15px;
	border: 0;
	text-align: center;
}

.gourlbox .gourldownloadlink {
	margin: 0;
	text-align: center;
}

.gourlmembershipprice, .gourlmembershipprice2 {
	position: absolute;
	margin: 75px 0 0 125px;
	overflow: hidden;
	font-size: 34px;
	line-height: 28px;
	color: #444;
	width: 555px;
}
	
.gourlmembershipprice span {	
	font-size: 18px;
}	

.gourlmembershipprice2 {  
	padding-top: 60px; 
	font-size: 30px;
}

.gourlmembershipprice2 span {	
	font-size: 16px;
}  

.gourlfiletext {
	text-align: center;
}

.gourlproducttext {
	margin: 30px 0 20px 0;
	text-align: center;
}

.gourlviewtext {
	text-align: center;
}

.gourlmembershiptext {
	text-align: center;
}